
 .body{border:1px solid white;
    margin:5% 5%;border-color: rgba(196, 255, 204, 0.993);
}
.tab-style,th,td{border:1px solid black;border-collapse:collapse;}
th{background-color:burlywood;}
td{background-color:cornsilk;}
table{width:100%;}
caption{color:chocolate;text-align:center;font-size:90px;}
 .add{border:cadetblue; margin-right:88%;}
 .cap{color:chocolate;font-size:29px;}
 .cap1{color:black;font-size:22px;}